<div class="product" (mouseleave)="leaveMouse()" (mouseover)="onMouse()">
  <button>
    <div class="img-product">
      <img src="http://localhost:8080{{ product.img }}" alt="" />
    </div>
    <div class="info-product">
      <div class="name-product">{{ product.productName }}</div>
      <div class="price-product">
        <p>{{ product.price }}</p>
      </div>
    </div>
  </button>
  <div
    class="add-product"
    [style.display]="style === 'block' ? 'block' : 'none'"
    (click)="onClickProduct()"
  >
    <i class="fa-solid fa-circle-plus"></i>
  </div>
</div>
