.search {
    width: 100%;

}

.search input {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: 30px;
    padding: 0;
    border: none;
}

.search input[type="text"]:focus {
    outline: none;
}